<!DOCTYPE html>
<html lang="en">
{% load static %}
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>My CV Website</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Kevin LH</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="registration">Register</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header - set the background image for the header in the line below -->
    <header class="py-5 bg-image-full" style="background-image: url({% static 'img/Abstract.png' %});">
      <img class="img-fluid d-block mx-auto img-profile" src="{% static 'img/profile.png' %}" alt="">
    </header>

    <!-- Content section -->
    <section class="py-5 head-article shadow">
      <div class="container con-desc">
        <h1>Kevin Luvian Herdianto</h1>
        <p class="lead">Mahasiswa di Universitas Indonesia<br>Banten, Indonesia</p>
          <button class="btn btn-lg btn-secondary btn-fav btn-msg"><h3>message+</h3></button>
      </div>
    </section>

    <section class="spacer"></section>
    <!-- Content section -->
    <section class="py-5 shadow contacts content">
      <div class="container">
          <div class="content-heading">
            <h1>Contacts</h1>
          </div>
          <p>Email: wkeplon@gmail.com<br>Phone: 081219052255</p>
      </div>
    </section>
      
    <section class="spacer"></section>
    <!-- Content section -->
    <section class="py-5 shadow bio content">
      <div class="container">
          <div class="content-heading">
            <h1>Bio</h1>
          </div>
          <p>Saya sekarang berumur 19 tahun sedang melaksanakan pendidikan S1 Sistem Indormasi di Universitas Indonesia, memiliki kondisi kesehatan yang sangat baik. Selain mampu berkomunikasi dengan bahasa indonesia yang baik, saya juga mahir dalam berbahasa inggris secara lisan dan tulisan. Latar belakang pendidikan saya baik tanpa mengalami kendala dan selalu mendapatkan hasil yang memuaskan. Sifat saya ramah, gigih, dan fokus sehingga dapat bekerjasama secara efisien dalam suasana tim dengan baik.</p>
      </div>
    </section>
      
    <section class="spacer"></section>
    <!-- Content section -->
    <section class="py-5 shadow organization content">
      <div class="container">
          <div class="content-heading">
            <h1>Organization</h1>
          </div>
          <ul class="date-activity">
            <li><p><span>2018 - 2019</span> Pemira Universitas Indonesia</p></li>
            <li><p><span>2016 - 2017</span> Rohis SMAN 90 Jakarta Selatan</p></li>
          </ul>
      </div>
    </section>
      
    <section class="spacer"></section>
    <!-- Content section -->
    <section class="py-5 shadow skills content">
      <div class="container">
          <div class="content-heading">
            <h1>Skills</h1>
          </div>
          
          <div class="skills-elm">
            <img class="k_pic" src="{% static 'img/Software/Photoshop.png' %}" alt="pic">
            <div class="con-skillset">
                <p>Photoshop</p>
                <div class="blocks">
                    <div class="block"></div>
                    <div class="block"></div>
                    <div class="block"></div>
                    <div class="block"></div>
                    <div class="block"></div>
                    <div class="block"></div>
                    <div class="block"></div>
                    <div class="block gray"></div>
                    <div class="block gray"></div>
                    <div class="block gray"></div>
                </div>
            </div>
         </div>
          
          <div class="skills-elm">
            <img class="k_pic" src="{% static 'img/Software/Blender3D.png' %}" alt="pic">
            <div class="con-skillset">
                <p>Blender3D</p>
                <div class="blocks">
                    <div class="block"></div>
                    <div class="block"></div>
                    <div class="block"></div>
                    <div class="block"></div>
                    <div class="block"></div>
                    <div class="block gray"></div>
                    <div class="block gray"></div>
                    <div class="block gray"></div>
                    <div class="block gray"></div>
                    <div class="block gray"></div>
                </div>
            </div>
        </div>
          
        <div class="skills-elm">
            <img class="k_pic" src="{% static 'img/Software/Java.png' %}" alt="pic">
            <div class="con-skillset">
                <p>Java</p>
                <div class="blocks">
                    <div class="block"></div>
                    <div class="block"></div>
                    <div class="block"></div>
                    <div class="block"></div>
                    <div class="block gray"></div>
                    <div class="block gray"></div>
                    <div class="block gray"></div>
                    <div class="block gray"></div>
                    <div class="block gray"></div>
                    <div class="block gray"></div>
                </div>
              </div>
          </div>
          
          <div class="skills-elm">
            <img class="k_pic" src="{% static 'img/Software/Python.png' %}" alt="pic">
            <div class="con-skillset">
                <p>Python</p>
                <div class="blocks">
                    <div class="block"></div>
                    <div class="block"></div>
                    <div class="block"></div>
                    <div class="block"></div>
                    <div class="block"></div>
                    <div class="block"></div>
                    <div class="block gray"></div>
                    <div class="block gray"></div>
                    <div class="block gray"></div>
                    <div class="block gray"></div>
                </div>
              </div>
          </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>

  </body>

</html>
